body {
  background: lightpink;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  text-align: center;
}

h2 {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.city-dropdown {
  width: 100%;
  padding: 10px 0;
  border-radius: 6px;
}

.last-child {
  border: none;
}

.container {
  background: white;
  max-width: 600px;
  border-radius: 10px;
  margin: 30px auto 10px auto;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown {
  margin: 0 auto;
}

.date {
  font-size: 16px;
  opacity: 0.6;
}

.time {
  margin: 20px 0 5px 0;
  font-size: 48px;
  font-weight: 400;
}

.time small {
  font-size: 20px;
  position: relative;
  top: -7px;
}

.reset {
  text-align: center;
  color: #fff;
  background: lightpink;
  padding: 5px 10px;
  border-radius: 4px;
}

.reset:hover {
  cursor: pointer;
  color: lightpink;
  background: #fff;
  border: 1px solid lightpink;
  text-decoration: none;
}

footer {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}
